<div class="row">
    <%= render partial: 'sidebar', locals: { items: @items }  %>
    <section class="bck text margin column_9">
        <%= render partial: 'search_form', locals: { items: @items } %>
        <section class="row text ">
            <% @items.each do |item| %>
            <article class="padding item-result">
                <header>
                    <h3 class="text bold"><%= link_to item.title, item.url, target: 'blank' %></h3>
                </header>
                <p class="padding-bottom"><%= item.description %><span class="text right"> <%= link_to 'Edit Item',edit_item_path(item), class: 'button tiny secondary' %></span></p>
            </article>
            <% end %>
        </section>
    </section>
</div>

