<div id="edit-item-form">
    <%= simple_form_for([@sak, item]) do |f| %>
    <%= f.input :title %>
    <%= f.input :description, as: :text %>
    <%= f.submit 'Update', class: 'button tiny' %>
    <%= link_to 'Delete', sak_item_path, class: 'button secondary tiny', method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</div>
