<!DOCTYPE html>
<html>
<head>
  <title>Sack</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item"><%= link_to "Sign in", '#' %></li>
            <li class="nav-item"><%= link_to "Sign up", '#' %></li>
        </ul>
    </nav>
    <%= yield %>

</body>
</html>
