<% provide(:title, 'sack') %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render partial: 'layouts/menu' %>
    <%= yield %>
<footer class="bck column_12">
    <%= debug(params) if Rails.env.development? %>
    
</footer>
</body>
</html>
